<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <!-- 
   <add name="TurnosConnectionString" connectionString="Data Source=DbTurnos.mssql.somee.com;Initial Catalog=DbTurnos;User Id=ghostcomando_SQLLogin_1;Password=ykyoljktby;"
   <add name="TurnosConnectionString" connectionString="Data Source=SQL5020.myASP.NET;Initial Catalog=DB_9EF708_Turnos;User Id=DB_9EF708_Turnos_admin;Password=qwedaniel753.;"-->     
   <add name="TurnosConnectionString" connectionString="Data Source=BECERRA;Initial Catalog=Turnos;Integrated Security=True"         
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>
   <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
